p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-family: Arial;
    padding-bottom: 3px;
}
button{
    cursor: pointer;
}
.my-mails{
    display: grid;
    margin-top: 50px;
}
.mail-box{
    display: grid;
    grid-template-columns: 50px 1fr;
    row-gap: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;

}
.email-profile{
    display: flex;
    align-items: center;
}
.email-details{
    margin-left: 40px;
    padding-bottom: 5px;
}
.profile1{
    width: 90px;
    border-radius: 50px;
}
.titl-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.title-pro{
    font-size: 18px;
    font-weight: bold;
}
.time{
    font-size: 16px;
    margin-right: 100px;
}
.titl-2{
    font-size: 16px;
}