.subscribe-button{
    background-color: rgb(202, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 1s;
}
.subscribe-button:hover{
    opacity: 0.7;
}
.subscribe-button:active{
    opacity: 0.3;
}

.join-button{
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    color: rgb(41, 118, 211);
    height: 36px;
    width: 65px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s, color 1s;
}
.join-button:hover{
    background-color: rgb(41, 118, 211);
    color: white;
}
.join-button:active{
    opacity: 0.5;
}

.tweeter-button{
    background-color: rgb(2, 158, 255);
    border-color: rgb(2, 158, 255);
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 36px;
    width: 95px;
    cursor: pointer;
    margin-right: 10px;
    transition: box-shadow 0.15s;
}
.tweeter-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

p{
    font-family: open sans;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    width: 350px;
    line-height: 30px;
}

.video-states{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 100px;
}

.testing-types{
    background-color: rgb(277, 65, 64);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.span-example:hover{
    font-size: 16px;
    font-family: Time New Roman;
    text-decoration: underline;
}