.model-class{
    font-family: montserrat;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.order-class{
    font-family: montserrat;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.span-class{
    text-decoration: underline;
}